@font-face {
  font-family: "my-font";
  src: url("../font/PatrickHandSC-Regular.ttf");
}

body{
    color: #ffffff;
    background-color: #f00;
    font-size: 15px;
    font-family: "my-font";
}

p {
  text-align: justify;
}

figure{
  border: 2px solid #fff;
  border-radius: 40px;
  padding : 50px;
  text-align: center;
  margin: 50px;
  /* width: 100%; */
}

img{
  max-width: 100%;
}
figcaption{
  text-align:center;
  font-style: italic;
}
