.people{
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#g-dragon{
  background-color: #d87f4f;
  color: #6a7a94;
}

#lisa{
  background-color: ;
  color: ;
}

#nancy{
  background-color: ;
  color: ;
}

#sontung{
  background-color: ;
  color: ;
}

audio , video{width: 100%}
