.people{
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

#g-dragon{
  background-color: #d87f4f;
  border: 3px solid #02111b;
  color: #6a7a94;
  border-radius: 30px;
}

#lisa{
  background-color: #ffd762;
  border: 2px solid #02111b;
  color:#ff8247 ;
}

#nancy{
  background-color:#ffd148 ;
  border: 2px solid #02111b;
  color:#8b3626 ;
}

#sontung{
  background-color:#b8f2b2 ;
  border: 2px solid #02111b;
  color:#02111b;
}

#g-dragon figure{
  background-color: #ffa153;
  border: 3px solid #02111b;
  color: #6a7a94;
  border-radius: 30px;
}

#lisa figure{
  background-color: #9a4340;
  border: 2px solid #02111b;
  color:#ff8247 ;
}

#nancy figure{
  background-color:#7a7875 ;
  border: 2px solid #02111b;
  color:#8b3626 ;
  border-radius: 30px;
}

#sontung figure{
  background-color:#948572 ;
  border: 2px solid #02111b;
  color:#02111b;
}
audio , video{width: 100%}
