table {
  /* font-family: arial ; */
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #02111b;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b2fcff;
}
