table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #02111b;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #b2fcff;
}

td:first-child{
  text-align: center;
}

td:nth-child(2){
  font-style: italic;
  color: #deb887;
}

/* .highlighted{ */
tbody > tr:hover {
  background-color: #00f;
  color: #fff;
  font-weight: bold;
}
#my-td {
    background-color: #b2fc22;
    color: : #fff;
    border: 2px solid #000;
    margin: 30px 0 30px 0;
    height: 50px;
    padding: 25px;
    font-size: 25px;
}

.my-td-span {
    background-color: #b2fcff;
    color: inherit;
    font-weight: bold;
    padding: 19px;
}

.my-header {
    background-color: #333;
    color: #aaa;
    font-size: 8px;
    font-weight: bold;
}

.my-content {
    margin-top: 3px;
}

.my-header,
.my-content {
  border: 1px solid #333;
  padding: 5px;
}

.my-study {
  margin: 10px 0 10px 0;
}

.my-study-open,
.my-study-close {
  margin-right: 10px;
}

.my-study-detail-hidden {
    display: none;
}

@media screen and (min-width: 576px) {
  .my-study-open,
  .my-study-close {
    display: none;
  }

  .my-study-detail-hidden {
    display: block;
  }
}
